.login-container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px; /* Adjust the max-width to accommodate both forms */
  margin-top: 10%;
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Add space between the forms */
}

.login-form, .register-form {
  width: 100%; /* Adjust the width of each form to fit within the container */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px); /* Adjust width for input and consider padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #343a40;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #495057;
}
